body {
  font-family: sans-serif;
  background: #dcf9f9;
  color: #444444;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: #444444;
}

a:visited {
  color: #444444;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  height: 200px;
  width: auto;
}

/* title styling */

@import url('https://fonts.googleapis.com/css?family=Modak');

@font-face {
  font-family: 'Modak';
  src: url('https://fonts.googleapis.com/css?family=Modak');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  height: 30px;
  display: inline-block;
  font-size: 30px;
  line-height: 84%;
  font-family: Modak;
  padding-left: 7px;
  color: #444444;
  text-shadow: 5px 5px 0px #989898;
}

/* home page view  */

.homePageText {
  margin-top: 20px;
  font-size: 36px;
  display: inline-block;
}

#one {
  float: left;
  margin-right: 10px;
}

#two {
  float: left;
}

#homePage {
  padding-top: 100px;
  padding-bottom: 50px;
}

#homeTitle {
  font-family: 'Modak';
  font-size: 2em;
  color: #9370db;
  margin-top: 20px;
}

.react-rotating-text-cursor {
  opacity: 0%;
}

/* nav bar styling  */

#hello {
  display: flex;
}
.cart {
  height: 30px;
  width: auto;
}

.nav {
  display: flex;
  background-color: #b3b3ff;
  width: 100%;
  justify-content: space-between;
  /* height: 50px;  */
}

.navbar-light .navbar-brand {
  color: #444444;
  text-shadow: 5px 5px 0px #989898;
}

#links {
  font-size: 14px;
}

/* all products styling  */

.allProducts {
  display: flex;

  flex-wrap: wrap;
}

.singleProduct {
  flex: 0 32%;
  margin: 5px;
}

#allSeltzersTitle {
  font-family: 'Montserrat', sans-serif;
  height: 30px;
  margin: 10px;
}

/* single product styling */
#container {
  display: flex;
  justify-content: center;
}

.singleProductPage {
  display: flex;
  align-content: center;
  margin: 25px;
}

.singleProductPage img {
  margin: 15px;
}

#flavor {
  font-family: Modak;
  font-size: 36px;
  color: #444444;
  margin: 0px;
}

.singleProductPage p {
  margin: 8px;
}

/*  button styling  */

.stylizedButton {
  border-radius: 7px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: white;
  border: 1px #db8a74;
  background: #444444;
  transition: 0.4s;
  margin-bottom: 10px;
  margin-top: 10px;
}

.stylizedButton:hover {
  background: white;
  color: #444444;
}

/* previous orders styling  */
.previous-orders,
.order-box > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}

.previous-orders > * {
  margin: 1em;
}

.order-box {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.order-box img {
  height: 100px;
}

.cart-view {
  margin: 1em 5em 1em 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-item {
  margin: 1em;
}

.cart-item img {
  height: 150px;
}

/* footer styling  */

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: auto;
  width: 100%;
  background-color: #444444;
  color: white;
  height: 40px;
}

html,
body,
#app {
  min-height: 100vh;
  position: relative;
}

#app {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 40px; /* height of your footer */
}

/* cart popover styling */

.btn {
  background-color: #b3b3ff;
  border-color: #b3b3ff;
}

.popover .popoverImg {
  /* background-color: black; */
  height: 100px;
  width: auto;
}

.popover {
  display: flex;
  flex-direction: column;
}

.cartPopoverView {
  display: flex;
  flex-direction: column;
}

.cartPopoverItem {
  display: flex;
}

#popoverImg {
  background-color: black;
}

/* responsive styling  */
@media (min-width: 600px) {
  .nav {
    height: 50px;
  }
}

@media (max-width: 600px) {
  .singleProduct {
    flex: 100%;
  }
  .text {
    height: 30px;
    width: auto;
    display: inline-block;
    font-size: 35px;
    line-height: 84%;
    font-family: Modak;
    padding-left: 7px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 5px 5px 0px #444444;
    background-color: #989898;
  }
  #homePageText {
    display: inline-block;
    justify-content: center;
    font-size: 15px;
    width: 40%;
  }
  #one {
    float: none;
  }
  #two {
    float: none;
  }
}
